
<h2>
  Tasks
</h2>

<form class="well" (submit)="addTask($event)">
  <div class="form-group">
    <label for="Add Task"></label>
    <input type="text" [(ngModel)]="title" name="title" class="form-control" id="" placeholder="Enter Task">
    <p class="help-block">Enter the name of your new task.</p>
  </div>
</form>

<table class="table table-striped task-list">
  <tr *ngFor="let task of tasks; let i = index">
    <td class="col-xs-1">
      <input type="checkbox" [checked]="task.isDone" (click)="updateStatus(task)"/>
    </td>
    <td class="col-xs-7">
      <font size="5">{{ task.title }}</font>
    </td>
    <td class="col-xs-4">
      <input type="button" (click)="deleteTask(task._id, i)" value="Delete" class="btn btn-danger">
    </td>
    
  </tr>
</table>
